.header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
    width: 100vw;
    position: fixed;
}

.searchBar {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(199, 199, 199);
    padding: 8px 16px;
}

.searchBar:focus-within {
    box-shadow: 0px 0px 12px #81818159;
}

.logo.phone {
    display: none;
}

.actions {
    display: flex;
}

.searchBar.phone,
.footer.phone {
    display: none;
}

.searchIcon {
    display: flex;
    align-items: center;
    padding: 0px 8px;
    cursor: pointer;
}

.searchIcon img {
    width: 15px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.section img {
    width: 250px;
    margin-right: 16px;
    margin-left: 45px;
}

.section h3 {
    padding: 0px 64px;
}

.application {
    flex: 2;
    margin: 16px;
    border-radius: 8px;
    background-color: #fff;
    padding: 0px 64px;
    padding-bottom: 8px;
    overflow-y: auto;
}

.affiliate {
    padding: 0px 16px;
}

.affiliate p {
    text-align: center;
}

.invisible {
    display: none;
}

.logoSchoolLogedIn img {
    width: 25px;
}

.logoSchoolLogedIn {
    display: flex;
    align-items: center;
}

.menuToggle {
    width: 25px;
    display: none;
}

.actions_active {
    left: 0 !important;
}

.overflow_active {
    opacity: 0.7 !important;
    pointer-events: auto !important;
}

.connectedUser {
    color: #297cbe;
    padding: 8px 25px;
    font-size: 12px;
    border: 1px solid #297cbe;
    border-radius: 8px;
}

.connectedUser_in_active {
    display: none;
}

.logoSchoolLogedIn img {
    clip-path: circle();
    width: 50px;
}